@import url(ThemeVariables.css);

/* THIS CSS FILE CONTAINS ALL COMMONLY SHARED STYLES */

/*#region SIDEBAR*/
.sideBar {
    
    position: fixed;
    z-index: 995;
    background: var(--sidebar-bg);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid var(--border);
    
    width: 80px;
    height: 100vh; /* All vertical space */

    ul {
        margin: 0;
        padding: 0;
    }

    ul li {
        list-style-type: none; /* Remove the list dot */
        margin-top: 15px; /* Gap between list items (added to top of each item) */

        img { /* Make the icons brighter */
            filter: var(--icon-filter);
        }
    }

    /* Hovering over an item in the list */
    li:hover {
        border-radius: 35px;
        background-color: var(--sidebar-li-hover);
        box-shadow: 0px 0 5px 0px var(--glow-border);

        img {
            filter: var(--icon-filter-hover);
        }
    }

    /* Content inside the list (Icon + Text) */
    a {
        padding: 16px; /* 16px since image is 48px (this centers the icon) */
        font-size: 20px;
        text-align: middle;
        color: var(--text-color-darkbg);
        text-decoration: none;
        cursor: pointer;

        img {
            margin-right: 11px; /* Gap between icon and text */
        }
    }

    .sideBarTop { /* Pfp + Welcome */
        box-shadow: 0px 0 5px 0px var(--glow-border-alt);
    
        img {
            border-radius: 50%;
        }   
    }

    .sideBarBottom { /* Settings */
        margin-top: auto;
        margin-bottom: 15px;
        box-shadow: inset 0 5px 5px -5px var(--glow-border-alt);
    }
}

.sideBar:hover {
    width: 185px;
}

.mobileSidebarToggle {
    top: 10px;
    left: 0px;
    position: fixed;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 990;

    background: var(--sidebar-bg);
    box-shadow: 0px 0 5px 0px var(--glow-border-alt);
    opacity: 0.75;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.4s ease;

    img {
        filter: var(--icon-filter);
    }
}

/* These two get toggled by JS when clicking on the above toggle btn */
.mobileSidebarToggle-open {
    left: 185px;
    opacity: 1;
}

.sideBar-open {
    width: 185px !important;
}

@media screen and (max-width: 600px) {
    
    .center {
        margin-left: 0;
    }
    
    .sideBar {
        width: 0px;
    }

    .sideBar:hover {
        width: 0px;
    }

    .mobileSidebarToggle {
        visibility: visible;
    }
}
/*#endregion*/

/*#region SETTINGS*/
#settingsContainer {
    
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 997;

    .settingsContent {
        width: 60%;
        height: 80%;
        box-shadow: 0 0 5px 2px var(--glow-border); 
        background-color: var(--background);
        position: inherit;

        .settingsClose {
            position: absolute;
            right: 10px;
            top: 15px;
            cursor: pointer;
            background-image: url("/images/icons/CloseIcon.png");
            background-position: center;
            outline: 1px solid;
            border-radius: 25px;
            background-color: transparent;
            filter: var(--icon-filter);
            width: 48px;
            height: 48px;
            background-size: 32px 32px;
        }

        .settingsClose:hover {
            filter: var(--icon-filter-hover);
        }

        .settingsTop {
            padding-bottom: 0px;
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            color: var(--text-color-darkbg);
        }

        .settings {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            height: 85%;
            box-shadow: 0 0 5px 2px var(--border); 
            background-color: var(--background-alt2);

            .themeSettings {
                padding-left: 5%;
                padding-right: 5%;
                color: var(--text-color-darkbg);

                input[type='radio'] { 
                    transform: scale(2);
                    margin-bottom: 20px; 
                    margin-right: 20px;
                    cursor: pointer;
                }

                label {
                    padding-right: 20px;
                }

                .themeSettingsTop {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid var(--border);

                    h2 {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    
    #settingsContainer{
        .settingsContent {
            width: 75%; 
        }
    }
}

@media screen and (max-width: 600px) {
    
    #settingsContainer {
        .settingsContent {
            width: 100%;
            height: 100%;
        }
    }
}
/*#endregion*/

#formContainer {

    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 997;

    .formContentArea {
        width: 60%;
        height: 80%;
        box-shadow: 0 0 5px 2px var(--glow-border); 
        background-color: var(--background);
        position: inherit;

        .formClose {
            position: absolute;
            right: 10px;
            top: 15px;
            cursor: pointer;
            background-image: url("/images/icons/CloseIcon.png");
            background-position: center;
            outline: 1px solid;
            border-radius: 25px;
            background-color: transparent;
            filter: var(--icon-filter);
            width: 48px;
            height: 48px;
            background-size: 32px 32px;
        }

        .formClose:hover {
            filter: var(--icon-filter-hover);
        }

        .formContentAreaTop {
            margin: 20px 0px 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color-darkbg);

            .formHeaderContainer {
                display: flex;
                flex-wrap: wrap;
                column-gap: 20px;

                img {
                    object-fit: scale-down;
                    width: 68px;
                    height: auto;
                    filter: var(--icon-filter);
                }

                h1 {
                    margin-right: 88px;
                }
            }
        }

        .formWrapper {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            height: 75%;
            box-shadow: 0 0 5px 2px var(--border); 
            background-color: var(--background-alt2);

            .contactForm {
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                row-gap: 20px;
                color: var(--text-color-darkbg);

                .emailPart {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                }

                .messagePart {
                    width: 60%;
                    display: flex;
                    flex-direction: column;

                    textarea {
                        height: 150px;
                    }
                }

                .honeypot {
                    display: none;
                }

                button {
        
                    margin-top: 25px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 30px;
                    border: none;
                    padding: 15px 25px 15px 50px;
                    Color: var(--text-color-darkbg);
                    background-color: var(--button-bg);
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                    transition: background-color linear 0.2s;
            
                    background-image: url("/images/icons/ArrowRight.png");
                    background-size: 32px;
                    background-repeat: no-repeat;
                    background-position: left 10px center;
                }
            
                button:hover {
                    background-color: var(--button-bg-hover);
                }
            
                button:active {
                    transform: translateY(3px);
                }
            }

            .formConfirmWrapper {
                padding-top: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: var(--text-color-darkbg);

                button {
                    background: var(--card-button);
                    padding: 10px 20px 10px 20px;
                    border-radius: 12px;
                    border: none;
                    color: var(--text-color-darkbg);
                    cursor: pointer;
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);            
                }
            
                button:hover {
                    background: var(--card-button-hover);
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    
    #formContainer{
        .formContentArea {
            width: 75%; 
        }

        #messagePart {
            width: 75%;
        }
            
        #emailPart {
            width: 75%;
        }
    }
}

@media screen and (max-width: 600px) {
    
    #formContainer { 
        .formContentArea {
            width: 100%;
            height: 100%;
        }

        #messagePart {
            width: 95%;
        }
            
        #emailPart {
            width: 95%;
        }
    }
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
    color: var(--text-color-darkbg);
    box-shadow: inset 0 0 0 1000px var(--footer-bg);
    background-attachment: fixed;

    a{
        text-decoration: none;
    }
}


.click-effect {
    z-index: 998;
    position: fixed;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--click-effect);
    animation: click-effect-frames 0.4s ease-out;
}
 
 @keyframes click-effect-frames {

    0% {
        opacity: 1;
        width: 10px;
        height: 10px;
        margin: -5px; /* -half of width/height to center the effect */
        border-width: .25em;
    }

    100% {
        opacity: 0;
        width: 70px;
        height: 70px;
        margin: -35px;
        border-width: 0.05em;
    }
}