@import url('ThemeVariables.css');

body {
    margin: 0px;
    padding: 0px; /* Remove margin/padding added by the browser */
    font-family: Tahoma, Helvetica, Arial, Georgia;
    background-color: var(--general-bg);
}

.center {
    margin-left: 80px;
    box-shadow: var(--box-shadow);
    background-attachment: fixed;
}

.topBanner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px var(--background);
    background-attachment: fixed;
    padding-top: 40px;
    text-align: center;
    color: var(--text-color-darkbg);

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: var(--icon-filter);
    }

    h1 {
        margin-top: 7px; /* 7px due to 5px border + 2px outline on the above img */
        margin-bottom: 0;
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 30px 40px 30px;
    }
}

#galleryContainer {

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    row-gap: 30px;
    column-gap: 40px;
    max-width: 1900px;
    padding: 40px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    .screenshot {     

        max-width: 600px;
        width: 80%;
        height: auto;

        transform: translateX(50%);
        opacity: 0;
        transition: all 0.5s;

        object-fit: cover;
        border-radius: 25px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        opacity: 0;

        background: transparent var(--loading-icon) center center no-repeat;
    }

    .screenshot:hover {
        transform: scale(1.1);
        z-index: 666;
        cursor: pointer;
    }

    .fade {
        transform: translateX(0);
        opacity: 1;
        transition: all 0.5s;
    }
}

#image-overlay {
    
    position: fixed;
    display: flex;   
    margin-left: 80px; 
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    cursor: pointer;

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

    .image-overlay-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;

        /* The loading animation will get covered by the image once it loads, calc offset due to tooltip text (place the loading icon above it) */
        background: transparent var(--loading-icon) center calc(50% - 25px) no-repeat;

        #image-overlay-img {
            
            /* display: block; */
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            max-width: 60%;
            max-height: 70%;
            border-radius: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
        }

        p {
            margin: 0;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

/* This gets applied when the overlay is activated by clicking on an image from the gallery preview */
/* When clicking away this deactivates */
#image-overlay.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.25); /* The image scales in/out along with the fade in/out of the overlay */
}

@media screen and (max-height: 450px) {
    .image-overlay-content {
        p {
            font-size: xx-small;
        }
    }
}

/* @media screen and (min-width: 1100px) and (max-width: 1400px) {
    #galleryContainer {
        .screenshot {
            max-width: 450px;
        }
    }
} */

@media screen and (max-width: 600px){

    .center {
        margin-left: 0;
    }

    #image-overlay {
        margin-left: 0;
        
        p {
            font-size: xx-small;
        }
    }

    #galleryContainer {
        padding: 20px 0px 20px 0px;
        row-gap: 20px;
        column-gap: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    
    .screenshot:hover {
        transform: scale(1) !important;
        z-index: 666;
        cursor: pointer;
    }
}
