:root {

    --swiper-navigation-color: #b8b8b8;
    --swiper-pagination-color: #b8b8b8;
    --swiper-pagination-bullet-inactive-color: white;
    
    /* Colors for the different backgrounds */
    --sidebar-bg: #252525;
    --sidebar-bg-hover: #757575;
    --sidebar-border: #1a1a1a;

    --banner-bg: #2e2e2e;
    --general-bg: #373737;
    --general-bg-alt: #404040;

    --text-color-darkbg: white;  /* Against darker backgrounds */
    --text-color-lightbg: black;  /* Againsts lighter backgrounds */
  }


body {
    margin: 0px;
    padding: 0px; /* Remove margin/padding added by the browser */
    font-family: Tahoma, Arial, Georgia;
    background-color: var(--general-bg);
}

ul, li {
    margin: 0; padding: 0;
}

.sideBar {
    
    position: fixed;
    z-index: 998;
    /* background: var(--sidebar-bg); */
    background: radial-gradient(circle, rgb(13, 13, 31) 30%, rgb(4, 8, 31) 100%);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid var(--sidebar-border);
    
    width: 80px;
    height: 100vh; /* All vertical space */

    ul li {
        list-style-type: none; /* Remove the list dot */
        margin-top: 15px; /* Gap between list items (added to top of each item) */

        img { /* Make the icons brighter */
            filter: invert(0.45);
        }
    }

    /* Hovering over an item in the list */
    li:hover {
        border-radius: 35px;
        background-color: var(--sidebar-bg-hover);

        img {
            filter: invert(1);
        }
    }

    /* Content inside the list (Icon + Text) */
    a {
        padding: 16px; /* 16px since image is 48px (this centers the icon) */
        font-size: 20px;
        text-align: middle;
        color: var(--text-color-darkbg);
        text-decoration: none;

        img {
            margin-right: 11px; /* Gap between icon and text */
        }
    }

    .sideBarTop { /* Pfp + Welcome */
        box-shadow: 0px 0 5px 0px #7519ff;
    
        img {
            border-radius: 50%;
        }   
    }

    .sideBarBottom { /* Settings */
        margin-top: auto;
        margin-bottom: 15px;
        box-shadow: inset 0 5px 5px -5px #7519ff;
    }
}

.sideBar:hover {
    width: 185px;
}

.center {
    margin-left: 80px;
    box-shadow: inset 0 50px 500px 300px rgba(13, 21, 62, 0.792);
    background-attachment: fixed;
}

.banner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(3, 9, 39, 0.9);
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    color: white;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        margin-top: 7px; /* 7px due to 5px border + 2px outline on the above img */
        padding-bottom: 10px;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        column-gap: 80px;
        row-gap: 30px;

        .link-img {
            transform: scale(1.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.1s;
        }

        .link-img:hover {
            transform: scale(1.6);
            border-color: #66afe9;
            box-shadow: 0 0 10px rgba(59, 80, 218, 0.811);
            cursor: pointer;
        }
    }
}

.text-area-container {

    min-height: 100vh;
    height: auto;
    /* expand when content needs more space */
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    .text-area {

        min-height: 100vh;
        height: auto;
        /* expand when content needs more space */
        width: 100%;
        max-width: 1000px;
        padding-bottom: 30px;

        display: flex;
        flex-direction: column;

        box-shadow: inset 0 0 100px 1000px rgba(10, 15, 40, 0.9);

        .text-segment {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-left: 10%;
            padding-right: 10%;

            color: var(--text-color-darkbg);

            h1 {
                margin-top: 30px;
                margin-bottom: 0px;
            }

            p {
                line-height: 1.5;
                padding-bottom: 0;
                margin-bottom: 0;

                a {
                    color: #764692;
                    text-decoration: none;
                }

                a:hover {
                    color: #8b46b3;
                    text-decoration: underline;
                }
            }

            iframe {
                margin-top: 20px;
                width: 80%;
                min-width: 321px; /* YT has multiple thumbnail sizes, smaller than this and the blurriest image will be used */
                aspect-ratio: 16 / 9;
                box-shadow: 0 0 5px 2px #7602b4c1;
            }
        }

        .image-swiper-area {

            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;

            .basicSwiper {

                display: flex;
                justify-content: center;
                align-items: center;

                .swiper-wrapper {
                    width: 90%;

                    img {
                        margin-top: 2px;
                        width: 90%;
                        object-fit: cover;
                        box-shadow: 0 0 5px 2px #7602b4c1;
                    }
                }
            }

            .pagination {

                display: flex;
                justify-content: center;
                align-items: center;

                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .image-banner {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 80%;
            object-fit: cover;
        }
    }
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
    color: var(--text-color-darkbg);
    box-shadow: inset 0 0 0 1000px rgb(1, 6, 24);
    background-attachment: fixed;

    a{
        text-decoration: none;
    }
}

/* This should activate on mobile devices */
@media only screen and (hover: none) and (pointer: coarse){

    .center {
        margin-left: 0;
    }

    .sideBar {
        display: none !important;
    }

    .swiper-button-next, .swiper-button-prev {
        visibility: hidden;
    }
}