:root {
    /* Default theme colors and backgrounds  */
    
    --banner-boxshadow: inset 0 0 0 1000px rgba(3, 9, 39, 0.9);
    --banner-link-hover-color: rgba(59, 80, 218, 0.811);
    --border: #1a1a1a;

    --center-boxshadow: inset 0 50px 500px 300px rgba(13, 21, 62, 0.792);
    --code-background-color: rgb(1, 6, 24);

    --footer-bg: rgb(1, 6, 24);

    --general-bg: rgba(10, 15, 40, 0.9);
    --glow-border: #7602b4c1;
    --glow-border-alt: #7519ff;

    --sidebar-bg: radial-gradient(circle, rgb(13, 13, 31) 30%, rgb(4, 8, 31) 100%);
    --sidebar-li-hover: rgba(61, 33, 144, 0.701);
    --sidebar-li-icon-filter: invert(0.45);
    --sidebar-li-icon-filter-hover: invert(1);
    --scrollbar-colors: #3826bac1 #2f016bc1;
    --summary-marker-color: #66afe9;
    /* --swiper-navigation-color: #b8b8b8;
    --swiper-pagination-color: #b8b8b8; */
    --swiper-pagination-bullet-inactive-color: white; 

    --text-color-darkbg: white;  /* Against darker backgrounds */
    --text-color-lightbg: black;  /* Againsts lighter backgrounds */
    --text-link: #764692;
    --text-link-hover: #8b46b3;
    --textarea-boxshadow: rgba(10, 15, 40, 0.9);
}


body {
    margin: 0px;
    padding: 0px; /* Remove margin/padding added by the browser */
    font-family: Tahoma, Helvetica, Arial, Georgia;
    background-color: var(--general-bg);
}

ul, li {
    margin: 0; padding: 0;
}

.sideBar {
    
    position: fixed;
    z-index: 998;
    background: var(--sidebar-bg);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid var(--border);
    
    width: 80px;
    height: 100vh; /* All vertical space */

    ul li {
        list-style-type: none; /* Remove the list dot */
        margin-top: 15px; /* Gap between list items (added to top of each item) */

        img { /* Make the icons brighter */
            filter: var(--sidebar-li-icon-filter);
        }
    }

    /* Hovering over an item in the list */
    li:hover {
        border-radius: 35px;
        background-color: var(--sidebar-li-hover);
        box-shadow: 0px 0 5px 0px var(--glow-border);

        img {
            filter: var(--sidebar-li-icon-filter-hover);
        }
    }

    /* Content inside the list (Icon + Text) */
    a {
        padding: 16px; /* 16px since image is 48px (this centers the icon) */
        font-size: 20px;
        text-align: middle;
        color: var(--text-color-darkbg);
        text-decoration: none;

        img {
            margin-right: 11px; /* Gap between icon and text */
        }
    }

    .sideBarTop { /* Pfp + Welcome */
        box-shadow: 0px 0 5px 0px var(--glow-border-alt);
    
        img {
            border-radius: 50%;
        }   
    }

    .sideBarBottom { /* Settings */
        margin-top: auto;
        margin-bottom: 15px;
        box-shadow: inset 0 5px 5px -5px var(--glow-border-alt);
    }
}

.sideBar:hover {
    width: 185px;
}

.mobileSidebarToggle {
    top: 10px;
    left: 0px;
    position: fixed;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 990;

    background: var(--sidebar-bg);
    box-shadow: 0px 0 5px 0px var(--glow-border-alt);
    opacity: 0.75;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.4s ease;

    img {
        filter: var(--sidebar-li-icon-filter);
    }
}

/* These two get toggled by JS when clicking on the above toggle btn */
.mobileSidebarToggle-open {
    left: 185px;
    opacity: 1;
}

.sideBar-open {
    width: 185px !important;
}
/* --- */

.center {
    margin-left: 80px;
    box-shadow: var(--center-boxshadow);
    background-attachment: fixed;
}

.banner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: var(--banner-boxshadow);
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    color: var(--text-color-darkbg);

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        margin-top: 7px; /* 7px due to 5px border + 2px outline on the above img */
        padding-bottom: 0px;
    }

    h3 {
        margin-top: 0;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        column-gap: 80px; /* NOTE: Some project htmls set this inlane, maybe make a JS that changes this based on the html file? */
        row-gap: 30px;

        .link-img {
            transform: scale(1.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.1s;
        }

        .link-img:hover {
            transform: scale(1.6);
            /* border-color: #66afe9; */
            box-shadow: 0 0 10px var(--banner-link-hover-color);
            cursor: pointer;
        }
    }
}

.text-area-container {

    min-height: 100vh;
    height: auto;
    /* expand when content needs more space */
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    .text-area {

        min-height: 100vh;
        height: auto;
        /* expand when content needs more space */
        width: 100%;
        max-width: 1000px;
        padding-bottom: 30px;

        display: flex;
        flex-direction: column;

        box-shadow: inset 0 0 100px 1000px var(--textarea-boxshadow);

        .text-segment {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-left: 10%;
            padding-right: 10%;

            color: var(--text-color-darkbg);

            h1 {
                text-align: center;
                margin-top: 30px;
                margin-bottom: 0px;
            }

            .subheading {
                margin-bottom: 0;
            }

            p {
                line-height: 1.5;
                padding-bottom: 0;
                margin-bottom: 0;

                a {
                    color: var(--text-link);
                    text-decoration: none;
                }

                a:hover {
                    color: var(--text-link-hover);
                    text-decoration: underline;
                }
            }

            iframe {
                margin-top: 20px;
                width: 80%;
                min-width: 321px; /* YT has multiple thumbnail sizes, smaller than this and the blurriest image will be used */
                aspect-ratio: 16 / 9;
                box-shadow: 0 0 5px 2px var(--glow-border);
            }

            /* For when a title and a paragraph should be closer together wrap them in this */
            /* Basically before image groups */
            .title-paragraph-combo {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                h1 {
                    margin-top: 30px;
                    margin-bottom: 0px;
                }
    
                p {
                    margin-top: 5px;
                    line-height: 1.5;
                    padding-bottom: 0px;
                }
            }

            .code-snippet-container {
                width: 90%;
                background-color: var(--code-background-color);
                scrollbar-color: var(--scrollbar-colors);
                /* white-space: pre-wrap; */
            }
        }

        .image-swiper-area {

            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;

            .basicSwiper {

                display: flex;
                justify-content: center;
                align-items: center;

                .swiper-wrapper {
                    width: 90%;

                    img {
                        margin-top: 2px;
                        width: 90%;
                        object-fit: cover;
                        box-shadow: 0 0 5px 2px var(--glow-border);
                    }
                }
            }

            .pagination {

                display: flex;
                justify-content: center;
                align-items: center;

                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .image-banner {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 80%;
            object-fit: cover;
        }

        .closeable {
            cursor: pointer;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: var(--text-color-darkbg);

            summary {
                padding-top: 20px;
                padding-bottom: 20px;
                
                margin-left: auto;
                margin-right: auto;
            }
        }

        summary::marker {
            color:var(--summary-marker-color);
        }

        summary::after {
            content: " show images";
        }

        .closeable[open] > summary::after {
            content: " hide images";
        }

        .image-group-1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
            column-gap: 20px;
            padding-left: 20px;
            padding-right: 20px;

            img {
                flex: 1;
                padding: 0;
                object-fit: fill;
                width: 300px;
                min-width: 300px;
                max-width: 400px;
                height: 225px;
                border-radius: 15px;
                box-shadow: 0 4px 8px 0 var(--glow-border);
                transition: transform 0.5s;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .list-segment {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color-darkbg);
        }
    }
}

#image-overlay {
    
    position: fixed;
    display: flex;   
    margin-left: 80px; 
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    cursor: pointer;

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

    .image-overlay-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--text-color-darkbg);
        text-align: center;

        #image-overlay-img {
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            max-width: 60%;
            max-height: 70%;
            border-radius: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
        }

        p {
            margin: 0;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

/* This gets applied when the overlay is activated by clicking on an image from the gallery preview */
/* When clicking away this deactivates */
#image-overlay.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.25); /* The image scales in/out along with the fade in/out of the overlay */
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
    color: var(--text-color-darkbg);
    box-shadow: inset 0 0 0 1000px var(--footer-bg);
    background-attachment: fixed;

    a{
        text-decoration: none;
    }
}

/* This should activate on mobile devices */
@media only screen and (max-width: 600px) {

    .center {
        margin-left: 0;
    }

    .sideBar {
        width: 0px;
    }

    .sideBar:hover {
        width: 0px;
    }

    .mobileSidebarToggle {
        visibility: visible;
    }

    .image-swiper-area {
        min-width: 90%;
    }

    #image-overlay {
        margin-left: 0;
    }

}

@media screen and (max-width: 450px) {
    
    .swiper-button-next, .swiper-button-prev {
        visibility: hidden;
    }

    .image-swiper-area {
        min-width: 100%;
    }
}